.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.label {
	display: block;
}

.title {
	font-weight: 600;
	display: inline-block;
	margin-bottom: 0.4rem;
}

.input {
	display: block;
	position: relative;
	padding: 0.5rem;
	background-color: #f0f0f0;
	border-radius: 0.2rem;
	border: 0;
	width: 100%;
	font-size: 1rem;
	font-family: var(--font-text), sans-serif;
}

.input:focus,
.input:active {
	outline: 0.2rem solid #a1e1aa;
}

.error {
	display: block;
	font-size: 1rem;
	color: #b43232;
	margin-top: 0.4rem;
}
