@use 'mixins/from-size' as *;

.container {
	padding: 1rem;
	margin: 0 auto;
	width: 100%;
	max-width: 54rem;
	line-height: 150%;

	@include from(small) {
		padding: 2rem;
	}

	@include from(medium) {
		padding: 4rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	ul {
		padding-left: 2rem;
	}

	pre {
		padding: 1rem;
		font-size: 0.8rem;
		background: rgba(16, 0, 31, 0.87);
		border-radius: 0.5rem;
	}

	code {
		background: #E0E0E0;
		color: #202020;
		padding: 0.2rem;
		border-radius: 0.2rem;
	}
}

.image {
	max-width: 100%;
}
