* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-variant-ligatures: none;
}

body {
	background: #ff00cc; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ff00cc, #333399); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: var(--font-text), sans-serif;
}

pre {
	tab-size: 4;
	font-family: var(--font-code), monospace;
}

a {
	color: #0068bc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
