@use 'mixins/from-size' as *;
@use 'variables/breakpoints' as *;
@use 'variables/color' as *;

$bar-height: 3.4rem;

.screen {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;

	@include from(large) {
		overflow: hidden;
	}
}

.bar {
	height: $bar-height;
	background-color: #0005;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 1rem;

	@include from(small) {
		padding: 0 2rem;
	}

	@include from(medium) {
		padding: 0 4rem;
	}

	@include from(large) {
		order: 2;
	}
}

.desktop {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	height: $bar-height;
	align-items: center;

	@include from(large) {
		justify-content: center;
	}
}

.enrise,
.github,
.page {
	flex-direction: row;
	align-items: center;
	height: 2.8rem;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	outline: 1px solid rgb(255 255 255 / 0.2);
	border-radius: 0.2rem;
	background-color: #0003;
	transition:
		background-color 300ms,
		color 300ms,
		box-shadow 300ms;
	color: #fff;

	&:hover {
		background-color: #0006;
		text-decoration: none;
		box-shadow: 0 0 1rem $color-blue-50;
	}
}

.page {
	padding: 0 1rem;
	min-width: 0;
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 20rem;
	justify-content: flex-start;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	padding-top: 0.7rem;

	> span {
		display: none;

		@include from(medium) {
			display: inline;
		}
	}
}

.enrise,
.github {
	width: 2.8rem;
	flex-shrink: 0;
	background-size: 1.4rem;
	background-repeat: no-repeat;
	background-position: center;
}

.enrise {
	background-image: url('/enrise.svg');

	&:hover {
		box-shadow: 0 0 2rem $color-yellow-50;
	}
}

.github {
	background-image: url('/github.svg');
}

.active {
	background-color: #fff;
	color: #222;

	&:hover {
		background-color: #fff;
	}
}
